/ords-22.4.4.041.1526
/apex_22.2
/images
/jdk-11.0.18+10-jre
/ords-22.4.4.041.1526.zip
/apex_22.2.zip
/OpenJDK11U-jre_x64_linux_hotspot_11.0.18_10.tar.gz
/t.sh
000-install-apex-ords.sh.log
/scripts/ords-logs